@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-green: #228b22;
  --primary-brown: #8b4513;
  --secondary-green: #32cd32;
  --secondary-brown: #a0522d;
  --accent-yellow: #ffd700;
  --accent-blue: #87ceeb;
  --neutral-light: #f5f5f5;
  --neutral-gray: #d3d3d3;
  --font-roboto: "Roboto", sans-serif;
  --font-merriweather: "Merriweather", serif;
}

.dark {
  --background: #171717;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto);
  max-width: 1600px;
  margin: auto;
}

/* -------- Scrollbar Start ------- */
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-green);
  border-radius: 10px;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-green);
}
/* -------- Scrollbar End --------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-merriweather);
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.carousel-fade .carousel-item-active {
  opacity: 1;
}

.carousel-fade .carousel-inner {
  position: relative;
}

.carousel-fade .carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

button:hover {
  opacity: 0.9;
}

@layer base {
  h1 {
    @apply text-3xl font-bold md:text-4xl lg:text-6xl;
  }

  h2 {
    @apply text-xl font-bold md:text-2xl;
  }

  h3 {
    @apply text-lg font-semibold md:text-xl;
  }

  h4 {
    @apply text-base font-semibold md:text-lg;
  } 

  h5 {
    @apply text-sm font-semibold md:text-base;
  }

  p {
    @apply my-3 text-base font-medium leading-normal tracking-wide md:text-lg md:my-5;
  }

  a {
    @apply text-base font-medium transition md:text-lg hover:underline hover:underline-offset-4;
  }
}
