@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-green: #228b22;
  --primary-brown: #8b4513;
  --secondary-green: #32cd32;
  --secondary-brown: #a0522d;
  --accent-yellow: #ffd700;
  --accent-blue: #87ceeb;
  --neutral-light: #f5f5f5;
  --neutral-gray: #d3d3d3;
  --font-roboto: "Roboto", sans-serif;
  --font-merriweather: "Merriweather", serif;
}

.dark {
  --background: #171717;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto);
  max-width: 1600px;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-merriweather);
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.carousel-fade .carousel-item-active {
  opacity: 1;
}

.carousel-fade .carousel-inner {
  position: relative;
}

.carousel-fade .carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@layer base {
  h1 {
    @apply text-3xl font-bold md:text-4xl lg:text-6xl;
  }

  h2 {
    @apply text-2xl font-bold md:text-3xl lg:text-4xl;
  }

  h3 {
    @apply text-xl font-semibold md:text-2xl lg:text-3xl;
  }

  h4 {
    @apply text-base font-semibold md:text-xl lg:text-2xl;
  }

  h5 {
    @apply text-lg font-semibold md:text-base lg:text-xl;
  }

  h6 {
    @apply text-sm font-semibold md:text-base lg:text-xl;
  }

  p {
    @apply my-3 text-base font-medium leading-normal tracking-wide md:text-lg lg:text-xl md:my-5;
  }

  a {
    @apply text-base font-medium transition md:text-lg lg:text-xl hover:underline hover:underline-offset-4;
  }
}
